@charset "utf-8";
/* CSS Document */
body{
	background: rgb(205,235,142);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 );
/*	font-family:Monaco,Consolas,'Lucida Grande','Lucida Console'; */
	font-family: Trebuchet MS;
	font-size:16px;
	text-shadow:rgba(0,0,0,0.01) 0 0 0;

}
#wrapper{
	width:960px;
	margin:0 auto;
}
#content{
	align:center;
	margin: 100px;
	/*width:960px;
	margin:5px;
	float:left;
	*/
}
/************************************************/
.signup_wrap{
	height:25px;
	width:100%;	
	padding:5px;

	background-color:#2A1FFF;
}

.login_form{
	background: white;
	width:200px;
	padding:20px;
	margin:0 auto;
	border:3px solid #DFDFDF; 
	background: -webkit- (linear, left top, left bottom, from(#fff), to(#cbd4e5));
	background: -moz-linear-gradient(top,  #fff,  #cbd4e5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#cbd4e5');
}

.reg_form{
	background: white;
	width:460px;
	padding:20px;
	margin:0 auto;
	border:3px solid #DFDFDF; 
	background: -webkit- (linear, left top, left bottom, from(#fff), to(#cbd4e5));
	background: -moz-linear-gradient(top,  #fff,  #cbd4e5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#cbd4e5');
}
.form_title,
.form_sub_title{
	font-size:20px;	
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}
.form_sub_title{
	font-weight:normal;
	padding:6px 0 15px 0;
}
.reg_form p{
	color: grey;
	width: 300px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	background: white;
	height: 1%;
}
.reg_form label{
	font-weight: bold;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
input{
	padding:3px;
	color:#333333;
	background-color: white;
	border:1px solid #96A6C5;
	margin-top:2px;
	width:180px;
	font-size:11px;
}

.button{
	width:auto;
        margin:10px 0 0 150px;
        padding:3px 4px 3px 4px;
        color:white;
        background-color: #34696f;
        outline:none;
        border:2px solid rgba(33, 68, 72, 0.59);
        font-weight:bold;

}
.greenButton{
	width:auto;
	margin:10px 0 0 2px;
	padding:3px 4px 3px 4px;
	color:white;
	background-color:#589d39;
	outline:none;
	border:2px solid #006600;
	font-weight:bold;
}
.greenButton:active{
	background-color:#006600;
	padding:4px 3px 2px 5px;
}
.error{
	color:#F00;
}
.verify
{
    margin-top: 4px;
    margin-left: 9px;
    position: absolute;
    width: 16px;
    height: 16px;
}
#footer{
	color:#fff;
	padding-top:20px;
	text-align:center;
	background: #454546;		
	height: 20px;
	clear:both;
}
